@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color : hsl(216, 50%, 16%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    background-color: hsla(215, 32%, 27%, 0.5);
    width: 25%;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 70%;
}

.nft-img {
    width: 100%;
    border-radius: 1rem;
}

.nft-name {
    align-self: flex-start;
    font-size: 28px;
    margin: 0 ;
}

.nft-info {
    align-self: flex-start;
    font-size: 22px;
    color: hsla(215, 52%, 70%, 0.7);
    margin: 0;
}

/* Color Palete  */
.blank {
/* - Soft blue */
color: hsl(215, 51%, 70%);

/* - Cyan */
color: hsl(178, 100%, 50%);
        
/* - Very dark blue (main BG) */
color : hsl(217, 54%, 11%);

/* - Very dark blue (card BG) */
color : hsl(216, 50%, 16%);

/* - Very dark blue (line) */
color: hsl(215, 32%, 27%);

}
/* Credits */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

