@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color : hsl(216, 50%, 16%);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    background-color: hsla(215, 32%, 27%, 0.5);
    width: 25%;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: fit-content;
}

.nft-img {
    width: 100%;
    aspect-ratio: 1 / 1 ;
    border-radius: 1rem;
}

.preview-filter {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: hsla(178, 100%, 50%, 0.55);
    position: absolute;
    border-radius: 1rem;
    width: 25vw;
    aspect-ratio: 1 / 1 ;
}

.nft-name {
    align-self: flex-start;
    font-size: 28px;
    margin: 0 ;
}

.nft-info {
    align-self: flex-start;
    font-size: 22px;
    color: hsl(215, 51%, 70%);
    margin: 0;
}

.nft-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: solid 1px hsla(215, 52%, 70%, 0.5);
}

.nft-value-el {
    display: flex;
    flex-direction: row;
    gap: .5vw;
}

.nft-value-el > img {
    aspect-ratio: 1 / 1 ;
    object-fit: contain;
}

.nft-price > p {
    color: hsl(178, 100%, 50%);
}

.sell-reaming > p {
    color: hsl(215, 51%, 70%);
}

.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

.artist > img {
    height: 5vh;
    border: solid 1px #fff;
    border-radius: 3rem;
    aspect-ratio: 1 / 1 ;
    object-fit: contain;
}

.artist > p > span {
    color: hsl(215, 51%, 70%);
}

/* Credits */
.attribution { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    bottom: 2vh;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution p {
    margin: 0;
}

/* Active State */

:is(.nft-name, .artist > p ):hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.nft-img:hover ~ .preview-filter {
    display: flex;
}

/* Mobile */
@media screen and  (max-width: 375px){
    main {
        width: 80%;
        padding: 5%;
    }

    .artist {
        gap: 4vw;
    }

    .artist > img {
        height: 4vh;
    }
}

/* Color Palete  */
.blank {
    /* - Soft blue */
    color: hsl(215, 51%, 70%);
    
    /* - Cyan */
    color: hsl(178, 100%, 50%);
            
    /* - Very dark blue (main BG) */
    color : hsl(217, 54%, 11%);
    
    /* - Very dark blue (card BG) */
    color : hsl(216, 50%, 16%);
    
    /* - Very dark blue (line) */
    color: hsl(215, 32%, 27%);
    }

